{% extends 'base.html.twig' %}

{% block title %}Agrume{% endblock %}

{% block body %}
<div style="display: flex; align-items: center;" class="mt-5 mb-4">
    <img src={{ agrume.photo }} alt="agrume">
    <div class="ml-3">
        <p style="text-decoration: underline">Nom :</p>
        <h1 class="text-success" style="text-decoration: none">{{ agrume.nom }}</h1>
        
        <p style="text-decoration: underline">Latin :</p>
        <h2 class="text-success" style="text-decoration: none">({{ agrume.latin }})</h2>

        <p style="text-decoration: underline">Pays :</p>
        <h3 class="text-success" style="text-decoration: none">{{ agrume.origine }}</h3>

        <p style="text-decoration: underline">Saison :</p>
        <h4 class="text-success" style="text-decoration: none">{{ agrume.saison }}</h4>
    </div>
</div>
<div>
    <h5>Description :</h5>
    <p>{{ agrume.description }}</p>
</div>

<div style="display: flex; justify-content: space-around;" class="mb-5">
    <a href="{{ path('agrume_index') }}" class="btn btn-info mt-2">Revenir en arrière</a>

    <a href="{{ path('agrume_edit', {'id': agrume.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('agrume/_delete_form.html.twig') }}
</div>
{% endblock %}
